.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items:flex-end;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  padding: 8px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 16px;
  font-family: "Ubuntu";
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
  border: none;
  transition: 400ms;
  margin: 4px;
}
.input:focus {
  box-shadow: 0px 0px 30px rgba(0, 55, 87, 0.219);
}
.button {
  padding: 10px 24px 10px 24px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 140, 221);
  color: rgb(255, 255, 255);
  font-family: "Ubuntu";
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
  margin: 16px 0px 0px 0px;

}

.number {
  text-align: center;
}
.response {
  margin: 30px;
  display: flex;
}
.loading {
  width: 20px;
  height: 20px;
  background-color: rgba(148, 158, 165, 0.623);
  border-radius: 20px;
  width: 100%;
}
.form {
  margin: 10px;
}
.Forms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 32px;
  border-radius: 32px;
  color: rgba(0, 0, 0, 0.699);
  background-color: white;
  border: solid rgba(0, 0, 0, 0.363) 2px;
  padding: 0px;
  font-size: 32px;
  margin: 10px;
  cursor: pointer;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
  background-color: rgb(0, 192, 58);
  border-radius: 20px;
  color: white;
  margin: 0px 10px 0px 10px;
  }